body {
    font-family: 'Ubuntu', sans-serif;
    color: #201b2d;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

p {
    line-height: 1 .65em;
}

.container {
    width: 1170px;
    margin: auto;
    padding: 0;
}

.photo {
    height: 290px;
    width: auto;
    padding-top: 10px;
    margin: auto;
    padding-left: 50px;
}

.nav {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    color: white;
}

.nav-list {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.nav-link {
    decoration: none;
    color:aliceblue;
}
.nav-item{
    margin: 0px 5px;
    padding: 0px 5px;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 5px 200px;
}

.child{
    margin-left: 40% ;
}

.footer{
    margin-left: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.link{
    margin:15px 10px;
}

.hr-horizontal-gradient {
	margin: 20px 0;
	padding: 0;
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #333, #ddd);
}

h1{
    margin-left: 23%;
}

ul{
    padding-left:  3%;
}

.logo{
    width: 9%;
}